Set-Content -Path .gcloudignore -Value @"
# NÃO herdar do .gitignore (ele provavelmente está ignorando models/ ou *.bin)
# #!include:.gitignore

venv/
__pycache__/
*.pyc

# incluir o modelo no upload
!models/**
!models/Sentiment-Model/**
"@
